* { box-sizing: border-box; margin: 0; padding: 0; }
body { background: #050505; color: white; font-family: 'Arial', sans-serif; text-align: center; }

header { padding: 40px; background: linear-gradient(to bottom, #001d3d, #050505); }
h1 { color: #00d2ff; text-shadow: 0 0 10px #00d2ff; }

.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px; padding: 20px; max-width: 1200px; margin: auto;
}

.planet-card {
    background: #111; border-radius: 10px; overflow: hidden; cursor: pointer; transition: 0.3s;
}
.planet-card:hover { transform: scale(1.05); box-shadow: 0 0 15px #00d2ff; }

/* هنا نضبط الصور الطولية في البطاقات */
.planet-card img {
    width: 100%;
    height: 300px; /* طول البطاقة */
    object-fit: cover; /* لملء البطاقة بشكل جميل */
}

.planet-info { padding: 10px; font-size: 0.9rem; }

/* Modal */
.modal {
    display: none; position: fixed; z-index: 1000; left: 0; top: 0;
    width: 100%; height: 100%; background: rgba(0,0,0,0.9);
    justify-content: center; align-items: center;
}

.modal-content {
    position: relative; width: 90%; max-width: 500px; /* عرض أقل ليناسب الصور الطولية */
    height: 80vh; display: flex; flex-direction: column;
}

/* ضبط الصورة الطولية داخل العرض الكبير */
.mySlides img {
    width: 100%;
    height: 70vh; /* تأخذ 70% من طول الشاشة */
    object-fit: contain; /* أهم خاصية: تحافظ على طول الصورة دون تمطيط */
    border-radius: 15px;
}

.caption {
    background: rgba(0, 0, 0, 0.7); padding: 15px; border-radius: 0 0 15px 15px;
}

.close { position: absolute; 
    top: 10px; 
    right: 25; 
    font-size: 50px; 
    cursor: pointer; 
    color: white; 
    z-index: 9999;
}
.prev, .next {
    position: absolute;
     top: 50%; 
     padding: 16px; 
     color: #00d2ff;
    font-size: 30px; font-weight: bold; cursor: pointer; user-select: none;
}
.next { left: -60px; }
.prev { right: -60px; }

@media screen and (max-width: 700px) {
    .next, .prev { position: static; display: inline-block; margin: 10px; }
}
.btn-explore {
    display: inline-block;
    padding: 15px 30px;
    background-color: #00d2ff;
    color: #05070a;
    text-decoration: none;
    font-weight: bold;
    border-radius: 50px;
    transition: 0.3s;
    box-shadow: 0 5px 15px rgba(48, 58, 128, 0.3);
}

.btn-explore:hover {
    background-color: #ffffff;
    transform: scale(1.1);
}

/* الفوتر */
footer {
    text-align: center;
    padding: 30px;
    color: #8b949e;
    font-size: 0.8rem;
}