/* تنسيق زر الانتقال */
body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #0b0d17; /* لون فضائي غامق */
    color: #ffffff;
    line-height: 1.6;
}

/* تنسيق محتوى الصفحة الثانية */
.content-section {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.info-box {
    background: rgba(255, 255, 255, 0.05);
    padding: 25px;
    border-radius: 15px;
    margin-bottom: 20px;
    border-right: 5px solid #7e1758;
}

.info-box h2 {
    color: #631451;
}

.info-box ul {
    list-style: circle;
    padding-right: 20px;
}
.btn-explore {
    display: inline-block;
    padding: 15px 30px;
    background-color: #8d1d73;
    color: #05070a;
    text-decoration: none;
    font-weight: bold;
    border-radius: 50px;
    transition: 0.3s;
    box-shadow: 0 5px 15px rgba(108, 77, 146, 0.3);
}

.btn-explore:hover {
    background-color: #ffffff;
    transform: scale(1.1);
}
h5 {
    text-align: right;
    padding: 30px;
    color: #fcfdff;
    font-size: 0.8rem;
}
footer {
    text-align: center;
    padding: 30px;
    color: #8b949e;
    font-size: 0.8rem;
}
